/* font style  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
/* for all part  */
* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
/*....................................................................
 header part style  
 ....................................................................*/
.header {
  display: flex;
  justify-content: space-evenly;
  background-color: #2d25a0;
  padding-bottom: 40px;
}
.header-left {
  align-items: center;
}
.header-left h1 {
  width: 485px;
  line-height: 80px;
  font-size: 64px;
  margin-left: 156px;
  margin-top: 207px;
  margin-bottom: 20px;
  color: #ffffff;
}
.header-left a {
  text-decoration: none;
  color: white;
  padding: 10px 24px;
  background-color: #e02c6d;
  margin-left: 156px;
}
.header-right img {
  margin-top: 153px;
  margin-right: 60px;
  width: 556px;
  height: 438px;
}
/* ........................................................................
main content style start 
........................................................................... */

/* legend player style  */
.legend-players {
  background-color: rgb(236, 228, 213);
}
.section-title {
  text-align: center;
  padding: 50px 0;
}
.top-legends {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}
.all-legends {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}
.legend {
  display: flex;
  align-items: center;
  padding: 0 20px 40px;
}
.legend img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.player-name {
  margin-left: 16px;
  font-size: 18px;
}

/* top player style  */

.player-album {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 40px 100px;
  grid-gap: 30px;
}
.player-frame {
  box-shadow: 10px 10px 50px gray;
}
.player-photo img {
  width: 300px;
  height: 256px;
  margin: 15px;
}
.player-details {
  margin: 15px;
}
.player-details p {
  color: #6c6c6c;
}

/* tournament style  */

.all-tournaments {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
  margin-left: 150px;
  margin-bottom: 60px;
}
.tournament .tournament-banner img {
  width: 224px;
  height: 104px;
}
.tournament-info {
  display: flex;
  align-items: left;
  justify-content: space-between;
  flex-direction: column;
}
.fa-star {
  font-size: 12px;
}
.fa-star.filled {
  color: #ffc014;
}
.fa-star.empty {
  color: #aeaeae;
}
.champ-team {
  color: #6c6c6c;
}

/* .......................................................................
footer styles  
................................................................................*/
footer {
  text-align: center;
}
.footer-logo img {
  width: 484px;
  height: 110px;
}
.footer-icons {
  padding-bottom: 20px;
}
.footer-icons img {
  width: 32px;
  height: 32px;
}
.copyright {
  padding-bottom: 40px;
}
#copy-icon:after {
  content: "\00a9";
}
.header-right:hover img {
  transform: scale(1.2) rotate(360deg);
  transition: transform 2s ease;
}

/*...........................................................................................
responsibe styles .
........................................................................................... */

/* responsibe for mobile  */
@media only screen and (max-width: 688px) {
  .header {
    width: 100%;
    flex-direction: column;
  }
  .header-left {
    justify-content: center;
  }
  .header-left h1 {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 56px;
  }
  .header-left a {
    text-align: left;
  }
  .header-right img {
    margin-top: 40px;
    width: 90%;
    height: 80%;
  }
  .all-legends {
    grid-template-columns: repeat(1, 1fr);
  }
  .all-tournaments {
    grid-template-columns: repeat(1, 1fr);
    margin: 10px 80px;
  }
  .player-album {
    grid-template-columns: repeat(1, 1fr);
    margin: 20px 10px;
  }
  .player-details {
    margin: 15px;
  }
  .tournament {
    margin-bottom: 20px;
  }
  .legend {
    flex-direction: column;
  }
  .footer-logo img {
    width: 80%;
    height: 80%;
  }
}

/* responsibe for ipad  */

@media only screen and (min-width: 688px) and (max-width: 992px) {
  .header {
    width: 100%;
    flex-direction: column;
  }
  .header-left {
    justify-content: center;
  }
  .header-left h1 {
    text-align: left;
    font-size: 64px;
  }
  .header-left a {
    text-align: left;
  }
  .header-right img {
    margin-top: 40px;
    margin-left: 40px;
    width: 90%;
    height: 80%;
  }
  .all-tournaments {
    grid-template-columns: repeat(2, 1fr);
    margin: 10px 80px;
  }
  .player-album {
    grid-template-columns: repeat(2, 1fr);
    margin: 20px 10px;
  }
  .tournament {
    margin-bottom: 20px;
  }
  .legend {
    flex-direction: column;
  }
  .footer-logo img {
    width: 80%;
    height: 80%;
  }
}
